@model MyBookShop.Models.BookModel

@{
    ViewData["Title"] = "AddNewBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>AddNewBook</h1>
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>New Book Details Added Successfully</strong><br />
            click <a asp-controller="book" asp-action="getbookid" asp-route-id="@ViewBag.BookId">here </a>to view details.
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddNewBook" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
            <label asp-for="MyFields" class="control-label"></label>
            <input asp-for="MyFields" class="form-control" />
            <span asp-validation-for="MyFields" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="BookName" class="control-label"></label>
                    <input asp-for="BookName" class="form-control" />
                    <span asp-validation-for="BookName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LanguageId" class="control-label"></label>
                    <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.Language">
                        <option value="">Please Choose Language for Book</option>
                    </select>
                    <span asp-validation-for="LanguageId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalPages" class="control-label"></label>
                    <input asp-for="TotalPages" class="form-control" />
                    <span asp-validation-for="TotalPages" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoverPhoto" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GallaryFiles" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="GallaryFiles" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="GallaryFiles" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BookPdf" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="BookPdf" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="BookPdf" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section scripts{
    <script>
        function Success() {
            alert("Records added successfully");
        }
        function Failure() {
            alert("Something is wrong.");
        }
    </script>
}

